* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

header {
    overflow: hidden;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 100px;
    min-height: 60px;

}

.logo-container {
    float: left;
    overflow: hidden;
    padding: 6px 0;

}

.logo {
    float: left;
}

.text-container {
    float: left;
    margin-left: 8px;
    margin-top: 4px;

}

.text-container .text-starting {
    color: #477FB5;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    margin: 0
}

.text-container .text-help {
    color: #477FB5;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0
}



.menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 9px 0;
}

.menu li {
    float: left;
    margin-left: 8px;

}

.menu a {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 2px;
    background-color: #E1F0FF;
    padding: 10px;
    box-sizing: border-box
}

.menu li:last-child a {
    width: 164px;
    color: #477FB5;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.menu li:last-child span {
    margin-right: 8px;
}

.menu a span {
    vertical-align: super;
}

.section-1 h1 {
    color: #929A9F;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 0;
}

.section-1 h2 {
    color: #263640;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

.section-1 h3 {
    color: #477FB5;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

.section-1 li {
    color: #929A9F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.section-1 ul {
    margin-bottom: 64px;
    margin-top: 32px;
}

.section-1 {
    padding-left: 120px;
    padding-right: 120px;
}

.section-1 h1 {
    color: #263640;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
}

.section-1 li {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    width: 481px;
}

.section-2 li {
    color: var #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    list-style: none;
}

.photo-list {
    list-style: none;
    overflow: hidden;

}

.photo-list-item {
    float: left;
    width: 33.3%;
}

.description-photo-list-container {
    margin-top: 64px;
}

.description-photo-list {
    padding-left: 20px;
}

.description-photo-list h1 {
    color: #263640;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
}

.description-photo-list li {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    /* 175% */
}

.feedback-form p {
    color: #929A9F;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

}

.feedback-form {
    text-align: center;

}

.feedback-form h1 .title {
    color: #263640;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}



.information {
    width: 100%;
    max-width: 460px;
    margin-inline: auto;



}
.input-container {
    border: 1px solid #DEE2E6;
    position: relative;
    height: 90px;
}

.input-container label {
    text-align: left;
    position: absolute;
    left: 12px;
    top: 10px;
}
.input-container input {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: none;
    padding: 20px 12px 5px;

}

.row-inputes {
    overflow: hidden;
    margin-bottom: 10px;

}

.row-inputes .input-container {
    float: left;
    width: 49%;
    border-radius: 2px;
    height: 58px;

}

/* .row-inputes .input-container:first-child {
    margin-right: 10px;
} */
.row-inputes .input-container:last-child {
    float: right;
}

.button-send {

    margin-top: 32px;
    list-style: none;

}

